<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:test="http://www.alexecollins.com/schema/test"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://www.alexecollins.com/schema/test http://www.alexecollins.com/schema/test/test.xsd">

    <test:fake id="example1" class="com.alexecollins.testing.PartialFakeExample"/>
    <test:fake id="example2" class="com.alexecollins.testing.PartialFakeExample2"/>

</beans>